<div class="page-wrapper">

  <app-header></app-header>

  <!-- About Section -->
  <section class="about-section-two">
    <div class="anim-icons full-width">
        <span class="icon icon-circle-blue wow fadeIn"></span>
        <span class="icon icon-dots wow fadeInleft"></span>
        <span class="icon icon-circle-1 wow zoomIn"></span>
    </div>
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                      <span class="title">SOBRE O EVENTO</span>
                      <h2>Salve Quebrada!</h2>
                      <div class="text">O evento Pique Qbrada irá ocorrer no início de Maio até 25 de Junho, com programações todo Domingo em 8 CEUS pela região de SP.</div>
                      <div class="text">Com o objetivo de promover os artistas da comunidade e de reativar a cultura em um contexto pós pandemia o evento da secretaria de cultura conta com Feiras de artesanato, Feira gastronômica, oficinas de tecnologia concedidas pela Google for education, oficinas de arteterapia, rodas literárias, saraus, peças teatrais e números musicais / de dança.</div>
                      <div class="text">Além da expansão cultural durante os 8 encontros pela cidade de São Paulo, o Pique Qbrada fará arrecadações de alimentos não perecíveis para ajudar as comunidades no entorno dos CEUS e distribuição de equipamentos de higiene pessoal para prevenir uma futura pandemia.</div>
                      <div class="text">O evento ocorrerá em 8 domingos dentro dos CEUS de São Paulo, os locais foram escolhidos para promover a descentralização da cultura na cidade de são paulo.</div>
                    </div>
                    <div class="row mt-5">
                        <div class="about-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <h4><span class="icon fa fa-map-marker-alt"></span> Onde?</h4>
                                <div class="text">Todas Regiões de São Paulo</div>
                            </div>
                        </div>
                        <div class="about-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <h4><span class="icon fa fa-clock"></span> Quando?</h4>
                                <div class="text">Decorrer do ano de 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--End About Section -->


  <!-- Features Section -->
  <section class="features-section">
    <div class="auto-container">
        <div class="anim-icons">
            <span class="icon icon-shape-3 wow fadeIn"></span>
            <span class="icon icon-line-1 wow fadeIn"></span>
        </div>

        <div class="row">
            <!-- Feature Block -->
            <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="icon-box mt-4"><span class="icon fas fa-theater-masks fa-5x"></span></div>
                    <h4><a href="about.html">Espaços Fechados</a></h4>
                    <div class="text">Trabalharemos com uma super dinâmica teatral, além rodas de conversa literárias e um telecentro & espaço cyber.</div>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon fas fa-store-alt fa-5x mt-4"></span></div>
                    <h4><a href="about.html">Tendas</a></h4>
                    <div class="text">Praticaremos a arteterapia e oficinas de pintura. Além disso teremos uma central de doações e pontos médicos para o público.</div>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="icon-box mt-4"><span class="icon fas fa-microphone-alt fa-5x"></span></div>
                    <h4><a href="about.html">Palco Central</a></h4>
                    <div class="text">Espaço super iterativo destinado à pratica da cultura com muita música, rimas, danças, entre outros entretenimentos.</div>
                </div>
            </div>
            <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
              <div class="inner-box">
                  <div class="icon-box"><span class="icon fas fa-people-carry fa-5x mt-4"></span></div>
                  <h4><a href="about.html">Feiras</a></h4>
                  <div class="text">Espaço aberto para apreciação de produtos e serviços como artesanato gastronomia chefiado pela quebrada.</div>
              </div>
          </div>
        </div>
    </div>
  </section>
  <!--End Features Section -->


  <!-- Fluid Section One -->
  <section class="fluid-section-one">
      <div class="outer-box clearfix">

          <!-- Content Column -->
          <div class="content-column bg-purple">
              <div class="shape-layers">
                  <div class="shape-2"></div>
                  <div class="shape-1"></div>
              </div>
              <div class="inner-column">
                <h3>Divulgue seu Trampo!</h3>
                <div class="text">E ai amigão, ta precisando divulgar seu ganha pão, aqui e o lugar certo!<br>Envie seu trampo pra gente mostrar pra esse mundão.</div>
                <div class="btn-box"><a class="theme-btn btn-style-one" (click)="this.openModal()"><span class="btn-title">Enviar</span></a></div>
                </div>
          </div>

          <!-- Image Column -->
          <div class="image-column" style="background-image: url(https://artout.com.br/wp-content/uploads/2019/05/Principais-Grafiteiros-Brasileiros-2-1280x720.jpg);">
              <div class="image-box">
                  <figure class="image"><img src="https://artout.com.br/wp-content/uploads/2019/05/Principais-Grafiteiros-Brasileiros-2-1280x720.jpg" alt=""></figure>
              </div>
          </div>
      </div>
  </section>
  <!--End Fluid Section One -->

  <app-footer></app-footer>

</div>
