<div class="page-wrapper">
  <app-header></app-header>

  <!-- Speker Detail -->
  <section class="speaker-detail">
    <div class="auto-container">
        <div class="row">
            <div class="image-column col-lg-4 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image"><img [src]="this.disclosure.imageUrl" alt=""></figure>
                    <ul class="social-icon-two social-icon-colored text-center">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="info-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text-box">
                        <h3>{{ this.disclosure.name }}</h3>
                        <p>{{ this.disclosure.about }}</p>
                    </div>
                    <button class="theme-btn btn-style-one mx-1" name="submit-form" (click)="this.openModal(this.disclosure.email)"><span class="btn-title">Contato</span></button>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--End Speker Detail -->

  <app-footer></app-footer>
</div>

