<!-- About Section -->
<section class="about-section">
  <div class="anim-icons full-width">
      <span class="icon icon-circle-blue wow fadeIn"></span>
      <span class="icon icon-dots wow fadeInleft"></span>
      <span class="icon icon-circle-1 wow zoomIn"></span>
  </div>
  <div class="auto-container">
      <div class="row">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                  <div class="sec-title">
                      <span class="title">SOBRE O EVENTO</span>
                      <h2>Salve Quebrada!</h2>
                      <div class="text">Com o objetivo de promover os artistas da comunidade e de reativar a cultura em um contexto pós pandemia. Além da expansão cultural durante os 8 encontros pela cidade de São Paulo, o Pique Qbrada fará arrecadações de alimentos não perecíveis para ajudar as comunidades no entorno dos CEUS e distribuição de equipamentos de higiene pessoal para prevenir uma futura pandemia.</div>
                  </div>
                  <ul class="list-style-one">
                      <li>Oficinas;</li>
                      <li>Música & Dança;</li>
                      <li>Peças Teatrais;</li>
                      <li>Rodas Iterativas.</li>
                  </ul>
                  <div class="btn-box"><a [routerLink]="['/sobre']" class="theme-btn btn-style-three"><span class="btn-title">Saiba Mais</span></a></div>
              </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="image-box">
                  <figure class="image wow fadeIn"><img src="assets/images/resource/about-img.png" alt=""></figure>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End About Section -->
