<!-- Features Section -->
<section class="features-section">
  <div class="auto-container">
      <div class="anim-icons">
          <span class="icon icon-shape-3 wow fadeIn"></span>
          <span class="icon icon-line-1 wow fadeIn"></span>
      </div>

      <div class="row">
          <!-- Feature Block -->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                  <div class="icon-box mt-4"><span class="icon fas fa-theater-masks fa-5x"></span></div>
                  <h4><a href="about.html">Espaços Fechados</a></h4>
                  <div class="text">Trabalharemos com uma super dinâmica teatral, além rodas de conversa literárias e um telecentro & espaço cyber.</div>
              </div>
          </div>

          <!-- Feature Block -->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
              <div class="inner-box">
                  <div class="icon-box"><span class="icon fas fa-store-alt fa-5x mt-4"></span></div>
                  <h4><a href="about.html">Tendas</a></h4>
                  <div class="text">Praticaremos a arteterapia e oficinas de pintura. Além disso teremos uma central de doações e pontos médicos para o público.</div>
              </div>
          </div>

          <!-- Feature Block -->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
              <div class="inner-box">
                  <div class="icon-box mt-4"><span class="icon fas fa-microphone-alt fa-5x"></span></div>
                  <h4><a href="about.html">Palco Central</a></h4>
                  <div class="text">Espaço super iterativo destinado à pratica da cultura com muita música, rimas, danças, entre outros entretenimentos.</div>
              </div>
          </div>
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
            <div class="inner-box">
                <div class="icon-box"><span class="icon fas fa-people-carry fa-5x mt-4"></span></div>
                <h4><a href="about.html">Feiras</a></h4>
                <div class="text">Espaço aberto para apreciação de produtos e serviços como artesanato gastronomia chefiado pela quebrada.</div>
            </div>
        </div>
      </div>
  </div>
</section>
<!--End Features Section -->
